html, head, body, ul, li, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

summary {
  cursor: pointer;
}

details p {
  margin-left: 2em;
}

html, head, body {
  min-width: 100%;
  height: 100%;
}

body {
  font-size: 100%;
  font-family: Helvetica;
  color: #1d1d1d;
  line-height: 115%;
}

a {
  color: inherit;
  text-decoration: none;
}

br {
  line-height: 175%;
}

.site-container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 2em 0.75em 0;
}

.header {
  background-color: #fefefe;
  text-align: center;
  padding-bottom: 1.5em;
}

.profile-picture {
  border-radius: 25%;
}

.main-heading {
  margin-top: 0.5em;
}

.sub-heading, .social-media-links {
  margin-top: 0.75em;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.social-media-item {
  padding: 0.25em;
}

.social-media-item-description {
  display: none;
}

.section {
  position: relative;
  padding: 1em 1em 0.1em 1em;
}

.section:nth-child(even) {
  background-color: #f8f8f8;
}

.list-title {
  margin: 0.25em 0 0.75em;
  width: 100%;
  border-bottom: 1px solid #1d1d1d;
  line-height: 150%;
  font-size: 2.75em;
}

.list {
  list-style-type: none;
}

.list-item {
  margin-bottom: 2em;
}

.list-item-name {
  line-height: 125%;
  font-size: 1.25em;
  border-bottom: 1px solid #ddd;
  display: inline;
}

.project-list .list-item-name {
  display: inherit;
  font-size: 1.5em;
  color: #1272b8;
  margin-bottom: 0.25em;
}

.education-list .list-item-name {
  color: #727402;
}

.meetup-video-list .list-item-name {
  color: #e00;
}

.podcast-list .list-item-name {
  color: #c700ad;
}

.publication-list .list-item-name {
  color: #228040;
}

.open-source-projects .list-item-name {
  color: #6d6d6d;
}

.list-item-date {
  font-size: 0.8em;
  margin: 0.4em 0;
}

.list-item-description {
  margin: 0.25em 0;
  font-size: 0.9em;
}

.list-item-role-short {
  margin: 1.25em 0 0;
  font-weight: bold;
  font-size: 1.1em;
}

.list-item-role {
  margin: 0.75em 0;
  font-size: 0.9em;
}

.list-box {
  margin: 0.75em 0;
  font-size: 0.9em;
  font-weight: 300;
  border: 1px solid #ddd;
  padding: 0.25em;
  line-height: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}

.list-box-item {
  margin-right: 0.5em;
}

.list-box-item:before {
  content: '\ffed';
  margin: 0 0.25em;
}

.footer {
  background-color: #aaa;
  padding: 1em;
  font-weight: lighter;
  font-size: 0.75em;
  font-style: italic;
}

@media print, (min-width: 600px) {
  .header {
    padding-bottom: 1em;
  }
}

@media print {
  .footer {
    display: none;
  }
  
  /*.download-cv {*/
    /*display: none;*/
  /*}*/
  
  .social-media-links {
    flex-direction: column;
    align-items: flex-start;
    width: 30em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5em;
    flex-wrap: wrap;
    height: 6em;
  }
  
  .social-media-item {
    padding: 0.25em;
    font-size: 0.9em;
  }
  
  .social-media-item-description {
    display: inherit;
  }
  
  .social-media-item-inner {
    display: flex;
    align-items: center;
  }
  
  .social-media-image {
    height: 1.5em;
    padding-right: 0.5em;
  }
}
