<li class="project-list-item">
  
  <a class="project-url" href="{{url}}" target="_blank" rel="nofollow nofollow">
	<h3 class="project-name">
	  {{name}}
	</h3>
  </a>
  
  <p>
	<time class="project-year" datetime="{{start-year}}">
	  {{start-year}}
	</time>
	-
	<time class="project-year" datetime="{{end-year}}">
	  {{end-year}}
	</time>
  </p>
  
  <details>
	<summary class="project-description-short">
	  {{description-short}}
	</summary>
	<p class="project-description-long">
	  {{description-long}}
	</p>
  </details>
  
  <details>
	<summary class="project-role-short">
	  {{role-short}}
	</summary>
	<p class="project-role-long">
	  {{role-long}}
	</p>
  </details>
  
  <details>
	<summary class="project-experience-short">
	  {{experience-short}}
	</summary>
	<p class="project-experience-long">
	  {{experience-long}}
	</p>
  </details>
</li>
