<li class="list-item">
 
  <h3 class="list-item-name list-item-project-name">
	<a href="{{url}}" target="_blank" rel="nofollow nofollow">
	  {{name}}
	</a>
  </h3>
  
  <p class="list-item-description">
	{{description}}
  </p>
  
  <p class="list-item-role-short">
	{{role-short}}
  </p>
  
  <p class="list-item-date">
	<time datetime="{{start-year}}">
	  {{start-year}}
	</time>
	-
	<time datetime="{{end-year}}">
	  {{end-year}}
	</time>
  </p>
  
  <p class="list-item-role">
	{{role-long}}
  </p>
  
  <p class="list-item-skills">
	{{experience}}
  </p>
  
</li>
