<li class="list-item {{list-name}}">

  <h3 class="list-item-name">
	<a href="{{url}}" target="_blank" rel="noopener">
	  {{name}}
	</a>
  </h3>
  
  <p class="list-item-description">
	{{description}}
  </p>
  
  <p class="list-item-role-short">
	{{role-short}}
  </p>
  
  <p class="list-item-date">
	<time datetime="{{start-year}}">
	  {{start-year}}
	</time>
	&nbsp;-&nbsp;
	<time datetime="{{end-year}}">
	  {{end-year}}
	</time>
  </p>
  
  <p class="list-item-role">
	{{role-long}}
  </p>
  
  {{experience}}
  
</li>
