<title>{{title}}</title>

<link rel="canonical" href="{{url}}"/>

<meta name="robots" content="index, follow"/>
<meta name="description" content="{{description}}"/>

<meta property="fb:app_id" content="1487882671"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:title" content="{{title}}"/>
<meta property="og:site_name" content="{{title}}"/>
<meta property="og:description" content="{{description}}"/>
<meta property="og:image" content="{{imageUrl}}"/>
<meta property="og:image:width" content="{{imageWidth}}"/>
<meta property="og:image:height" content="{{imageHeight}}"/>
<meta property="og:image:type" content="{{imageMime}}"/>
<meta property="og:image:alt" content="{{imageAlt}}"/>
<meta property="og:url" content="{{url}}"/>
<meta property="og:type" content="profile"/>
<meta property="profile:first_name" content="{{firstName}}"/>
<meta property="profile:last_name" content="{{lastName}}"/>
<meta property="profile:username" content="{{facebookUserName}}"/>
<meta property="profile:gender" content="{{gender}}"/>

<meta name="twitter:title" content="{{title}}"/>
<meta name="twitter:description" content="{{description}}"/>
<meta name="twitter:image" content="{{imageUrl}}"/>
<meta name="twitter:site" content="@{{twitterUserName}}"/>
<meta name="twitter:creator" content="@{{twitterUserName}}"/>

<meta name="copyright" content="{{fullName}}"/>
<meta name="author" content="{{fullName}}, {{email}}"/>
<meta name="owner" content="{{fullName}}, {{email}}"/>
